/* Colors F6F6C9, 4FA095, 153462*/
:root {
  --bg-color: #bad1c2;
  --main-text-color: #333;
  --secondary-color: #f6f6c9;
  --darker-color: #4fa095;
  --main-dark-color: #153462;
}

body {
  background-color: var(--bg-color);
}
/* Common CSS */
label {
  display: block;
  margin-bottom: 5px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Header Element */
header {
  background-color: var(--main-dark-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4%;
}

header .container {
  flex-direction: row;
  color: #fff;
  justify-content: space-between;
  width: 100%;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.user {
  color: #4fa095;
}
.header-right button {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--main-text-color);
  font-weight: 700;
  padding: 4px 10px;
  border-radius: 7px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}
.header-right button:hover {
  background-color: transparent;
  color: var(--secondary-color);
}
.logo {
  padding: 10px 0;
}

/* Register Login elements */
.auth-form {
  margin-top: 5%;
  padding: 20px 25px;
  width: 350px;
  background-color: var(--darker-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.auth-form a {
  font-style: italic;
  text-decoration: underline;
  color: rgb(30, 30, 233);
}
.input-container {
  width: 100%;
}
input::placeholder {
  font-style: italic;
}
.input-container input,
.input-container select {
  width: 100%;
  padding: 7px;
  font-size: 15px;
  border: none;
}
.input-container input:focus {
  background-color: #bad1c2;
}
.auth-form button {
  background-color: transparent;
  border: 2px solid var(--main-dark-color);
  padding: 6px 20px;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.auth-form button:hover {
  background-color: var(--main-dark-color);
  color: #fff;
}

.auth-link {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin: 3px 0;
}

.auth-link:hover {
  color: rgb(240, 64, 64);
}

/* Main Page */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--main-dark-color);
  padding-bottom: 3px;
  width: 100%;
}
.nav-btn {
  background-color: var(--main-dark-color);
  border: 2px solid var(--main-dark-color);
  color: var(--secondary-color);
  padding: 6px 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease;
}
.nav-btn:hover {
  filter: brightness(90%);
}
.auctions-page {
  margin-top: 3%;
  width: 100%;
}
.auctions {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.auction-card {
  background-color: var(--secondary-color);
  border: 2px solid var(--main-dark-color);
}
.single-auction {
  display: grid;
  grid-template-columns: 50% 50%;
}
.auction-card .text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card-btn {
  width: 100%;
  border: none;
  background-color: var(--main-dark-color);
  color: #fff;
  padding: 6px;
  font-size: 15px;
}

.value {
  font-weight: 700;
}
.add-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auction-form {
  margin-top: 3%;
  width: 500px;

  background-color: var(--darker-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  align-items: center;
}
.auction-form button {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid var(--main-dark-color);
  padding: 6px 20px;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.auction-form button:hover {
  background-color: var(--main-dark-color);
  color: #fff;
}
.nav-btn {
  margin: 0;
}
.bids-table {
  padding: 0 25px;
  height: 100%;
}
.all-bids {
  border: 2px solid var(--main-dark-color);
  height: 80%;
  background-color: var(--secondary-color);
  overflow-y: scroll;
}
.all-bids h2 {
  text-align: center;
  margin-top: 30px;
}
.single-bid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
  padding: 5px 50px;
}
.no-bids {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.bid-form {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.bid-form input {
  border: 2px solid var(--main-dark-color);
}
.bid-form button {
  background-color: var(--main-dark-color);
  color: #fff;
  width: 100px;
  border: 2px solid var(--main-dark-color);
  padding: 8px 0;
  font-weight: 700;
  border-left: none;
  transition: all 0.4s ease;
}
.bid-form button:hover {
  background-color: transparent;
  color: var(--main-dark-color);
}
.item-page {
  width: 100%;
}

.fin {
  text-decoration: underline;
  color: red;
}

.finished {
  filter: grayscale(50%);
}
.selected {
  border-color: red;
}
