@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e7ecee;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  font-family: inherit;
}
input:focus {
  outline: none;
}

h1 {
  padding-top: 15px;
}
